    body {
    background-color: #C0DBF7;
	margin: 20px;
	font-family: 'Raleway', sans-serif;
}

h {
	font-size: 20px; 	
	font-weight: bold;
}

.container {
  padding: 2px 100%;
}

.container1 {
  padding: 2px 100%;
}
table {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
        border-collapse: collapse; 
	width: 100%;
}

tr:hover {
	background-color: #01295f63 !important
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
th, td {
	padding: 5px 5px;
        text-align: left;
	border-bottom: 1px solid #01295F;
}
th {
	color: white;
	background-color: #36494E;
}

/* barra di navigazione */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01295F;
}

li {
    float: left;
}
li.titolo {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 2.5vw;
    font-size: 25px;
    text-shadow: 4px 3px 6px rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 2.5vw;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

/* bottoni */
.button {
    background-color: #36494E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
.button:hover {
    background-color: #01295f63;
    color: white;
}

input, select {
    border: 2px solid grey;
    border-radius: 4px;
    width: 10%;
    padding: 10px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
}


input:focus, select:focus {
    border: 3px solid #555;
}


